PORT=
CORS_ORIGIN=
NODE_ENV=
CLIENT_ID=
CLIENT_SECRET=
KITSU_API_URL=
KITSU_USERNAME=
KITSU_PASSWORD=
JWT_SECRET_KEY=

DB_HOST=
RECOMMENDER_URL=
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=123
DB_NAME=whisker_db
B_CRYPT_HASH_PEPPER=
REDIS_HOST=
REDIS_PORT=
SSL_PASSWORD=